.bloc{
	background: #ecf0f1;
	display: inline-block;
	height: 67%;
	text-align: right;
	vertical-align: top;
	width: 34%;
}
h3{
	background: #7e8c8d;
	color: #edf7f9;
	margin: 0;
	padding: 1em;
	text-align: center;
}
body{
	text-align: center;
}
form{
	margin-right: 24%;
}
.les-input{
	background: #95a5a5;
	color: #fff;
	display: inline-block;
    margin-left: -1.2%;
    padding: 0.75em;
    vertical-align: top;
    width: 60%;
}
.bouton{
    background: #7e8c8d;
	color: #e6f0f2;
    font-size: 15px;
    font-weight: bold;
	padding: 0.75em 1.5em;
}
.deconnection{
	color: #ef6468;
}
.mesP{
	font-size: 17px;
}
.tableUrl, .table-hover{
	border: 1px solid #eee;
	margin: 1em auto;
	width: 80%;
}
.interne{
	padding: 1em;
}
tr:nth-child(2n), .header-tab{
	background: #eaeaec;
	color: #515058;
}
.lien{
	color: #515058;
	text-decoration: none;
}